{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <h1 class="col-12">{{ page.title }}</h1>

    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Z</th>
                <td>{{ page.z }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>#}

    <div class="row col-12 flex-nowrap" id="listContainer">

        <div class="col-3">
            <p class="font-weight-bold text-center my-2">Titre de la liste</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Cras justo odio</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Dapibus ac facilisis in</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Morbi leo risus</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-3">
            <p class="font-weight-bold text-center my-2">Titre de la liste</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Cras justo odio</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Dapibus ac facilisis in</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Morbi leo risus</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-3">
            <p class="font-weight-bold text-center my-2">Titre de la liste</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Cras justo odio</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Dapibus ac facilisis in</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Morbi leo risus</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
            </ul>
        </div>

        <div class="col-3">
            <p class="font-weight-bold text-center my-2">Titre de la liste</p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Cras justo odio</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Dapibus ac facilisis in</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-2">
                    <a href="https://google.com" target="_blank">Morbi leo risus</a>
                    <span><a href="#"><i class="fas fa-arrow-up"></i></a> 
                        <a href="#"><i class="fas fa-arrow-down"></i></a>
                    </span>
                </li>
            </ul>
        </div>

    </div>


{% endblock %}
