{% extends 'base.html.twig' %}

{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <h1 class="col-12">{{ page.title }}</h1>

    {#<table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ page.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ page.title }}</td>
            </tr>
            <tr>
                <th>Z</th>
                <td>{{ page.z }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ page.createdAt ? page.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>#}

    <div class="row col-12 flex-nowrap" id="listContainer">
        <div id="loader" class="col-12 mx-auto">
            <div class="loader-circle"></div>
        </body>
        {#{% include('page/_list_show.html.twig') %}#}

    </div>


{% endblock %}
