{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/page.css') }}{{ assets_version }}">
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}

{% block body %}
    <section class="col-12 m-0 p-0" data-page-id="{{ page.id }}">
        <h1 class="col-12 text-light">{{ page.title }}</h1>

        <div class="col-12 mx-auto m-0 p-0" id="loaderContainer">
                <div class="loader-circle mx-auto mt-5"></div>
        </div>
        <div class="row col-12 flex-nowrap m-0 p-0" id="listContainer">

        </div>
        {# Modal non visible à l'écran #}
        {% include('_partial/_form_modal.html.twig') %}
        {% include('_partial/_delete_form_modal.html.twig') %}
    </section>


{% endblock %}

{% block javascripts %}
    <script>
        const titlePageServicePath = "{{ path('title_page_service')|e('js') }}";
    </script>
    <script src="{{ asset('assets/js/page.js') }}{{ assets_version }}"></script>
{% endblock %}
