<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ asset('assets/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('lib/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('lib/fontawesome/css/all.min.css') }}">
    {% if app.user %}
        <link rel="stylesheet" href="{{ asset('assets/css/navbar.css') }}">
    {% endif %}
    <title>BookMark</title>
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}


    </head>
    <body>

        <div class="container">
            {% if app.user %}
            <div class="row col-12">
                {# Menu #}
                {{ knp_menu_render('main', {'template' : 'menu/custom_knp_menu.html.twig'}) }}
            </div>
            {% endif %}
            <div class="row col-12">
                {# Content #}
                {% block body %}{% endblock %}
            </div>
        </div>


    <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
