{# https://stackoverflow.com/questions/58220574/override-knp-menu-template #}
<nav class="navbar navbar-expand-lg col-12 navbar-dark font-weight-bold my-3 mx-0 px-3">
  <a class="navbar-brand" href="{{ path('dashboard') }}">{{ Constant.DASHBOARD }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if item.children %}
        {% for child in item.children %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ child.uri }}">{{ child.name }}</span></a>
        </li>
        {% endfor %}
      {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_logout') }}">{{ Constant.SIGN_OUT }}</span></a>
        </li>
    </ul>
  </div>
</nav>