{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}{{ assets_version }}">
    <link rel="stylesheet" href="{{ asset('assets/css/gallery.css') }}{{ assets_version }}">
{% endblock %}

{% block title %}{{ Constant.DASHBOARD }}{% endblock %}

{% block body %}
<div class="col-12 m-0 p-0" id="dashboardContainer">

    <h1 class="text-light col-12 p-0">{{ Constant.ACCOUNT_SETTINGS }}</h1>

    <div class="mx-0 my-2 p-0 text-dark bg-light">
        <div class="row col-12 flex-nowrap">
            <div class="col-3 col-sm-2 d-flex justify-content-center align-items-center">
                <img src="{{ asset('assets/img/profil.png') }}{{ assets_version }}" class="img-fluid" alt="profil utilisateur" title="Profil utilisateur">
            </div>
            <div class="col-9 col-sm-10">
                <div class="card-body">
                    <h5 class="card-title">Profil</h5>
                    <p class="card-text">
                        Identifiant : {{ app.user.username }}<br>
                        Email : {{ app.user.email }}<br>
                        Type de compte : {% if app.user.role == 'ROLE_ADMIN' %}Administrateur{% else %}Utilisateur{% endif %}<br>
                        Inscription le <i class="font-italic">{{ app.user.createdAt ? app.user.createdAt|date('d/m/Y') : '' }}</i>
                    </p>
                    <a class="btn btn-dark bg-dark mt-1" href="{{ path('user_edit', {id: app.user.id}) }}"><i class="fas fa-user"></i> {{ Constant.USER_UPDATE_LABEL_BIS }}</a>
                    {% if app.user.role == 'ROLE_ADMIN' %}
                    <a class="btn btn-dark bg-dark mt-1" href="{{ path('user_index') }}"><i class="fas fa-users"></i> {{ Constant.USER_INDEX_LABEL_BIS }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-light">{{ Constant.PAGES_LIST_INDEX }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Ordre d'affichage</th>
                <th><i class="fas fa-tools" title="actions"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>{{ page.z }}</td>
                <td>

                    <a href="{{ path('page_new') }}"><i class="fas fa-plus"></i></a>
                    <a href="{{ path('page_show', {'slug': page.user.slug, 'z': page.z}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('page_edit', {'id': page.id}) }}"><i class="fas fa-pen"></i></a>
                    {% include 'page/_delete_modal.html.twig' %}
                    {% if loop.length > 1 %} - {% endif %}
                    {% if loop.first == false %}
                    <a href="{{ path('page_order', {id: page.id, direction: 'up'}) }}"><i class="fas fa-arrow-up"></i></a>
                    {% endif %}
                    {% if loop.last == false %}
                    <a href="{{ path('page_order', {id: page.id, direction: 'down'}) }}"><i class="fas fa-arrow-down"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5"><a class="btn btn-dark bg-dark" href="{{ path('page_new') }}"><i class="fas fa-plus-circle"></i> {{ Constant.PAGE_CREATE_LABEL }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2 class="text-light col-12 p-0">{{ Constant.WALLPAPERS_TITLE }}</h2>
    <div id="gallery">
        {% for label, wallpaper in Constant.WALLPAPERS %}
        {% set url = asset('assets/wallpapers/' ~ wallpaper) %}
            <div class="picture {% if app.user.wallpaper == wallpaper %}active{% endif %}" 
                title="{{ label }}"
                alt="{{ wallpaper }}"
                style="background-image: url('{{ url }}');"
                data-wallpaper="{{ wallpaper }}">
            </div>
            
        {% endfor %}
    </div>
    
</div>
{% endblock %}

{% block javascripts %}
<script>
    const changeWallpaperPath = "{{ path('wallpaper_change')|e('js') }}";
</script>
    <script src="{{ asset('assets/js/dashboard.js') }}{{ assets_version }}"></script>
{% endblock %}